<h1>New list</h1>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= cl_image_upload_tag(:thumbnail, :tags => "directly_uploaded",) %>
  <%= f.submit "Submit List", class: "btn btn-primary" %>
<% end %>
